#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.text, .bold-text, .light-text {
    padding: 5px 0;
}
.light-text {
    font-weight: 300;
    font-size: small;
    color: #7f7e7e; 
}   

.bold-text {
    font-weight: bolder;
    font-size: larger;
    color: #042F19;
}
.text {
    color: #042F19;
    font-size: medium;
    font-weight: 600;
}
.text-center {
    width: 100%;
    text-align: center;
}
